{#- Callout yellow box 
Params:
- title
- text
-#}
<!-- Callout:{{callout.title}} -->    
<section class="max-w-2xl mt-8">
    <div class="nhsuk-warning-callout bg-pale-yellow">
    <h3 class="inline-flex -mt-5 text-xl lg:text-2xl font-bold bg-yellow px-5 py-1">
    {{callout.title}}
    </h3>
    <p class="p-5 lg:px-8 prose lg:prose-lg">
    {{callout.text}}
    </p>
    </div>
</section>