<div class="flex items-center w-full group bg-white border border-b-4 border-grey-4 hover:border-grey-3 p-4 clickable cursor-pointer">  
  <span class="h-full w-8 mr-8">{% include 'file-arrow-down-solid.svg' %}</span>
  <a href="{{ files }}">
    {{ filename }}
  </a>
</div>