<!-- component:participate  expects participate.url -->
<div class="prose rounded-sm bg-white p-4 mb-8">
  <h3 class="pb-3 border-b-2 border-grey-5">Participate</h3>
  <p>Would you like to join this special interest group?</p>
  
  <!-- needs some actions here -->
  <button class="block rounded-sm bg-green hover:bg-dark-green px-5 py-2 text-white">
  Apply now
  </button>
</div>