<!-- Sidebar -->
<aside id="sideBar" class="lg:pl-8 mt-5 lg:mt-0 w-auto">
  {% if toc %}
    <h3 id="sideBarTitle" class="block font-bold text-xl lg:text-2xl mb-3">Contents</h3>
    {{ content | toc | safe }}
  {% endif %}
</aside>