<!DOCTYPE html>
<html lang="{{ site.language }}"/>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    {% if site.favicon %}<link rel="icon" href="{{ site.favicon }}" type="image/png"/>{% endif %}
    <link rel="stylesheet" href="/styles.css"/> {% seo "" %}
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="{{ bodyClass }} h-screen flex flex-col" x-data="{ open: false, imgModalSrc: '' }" x-bind:class="open ? 'overflow-hidden' : ''">
    {{ content | safe }}
    <div x-show="open" class="fixed top-0 left-0 h-screen w-screen bg-white ie-lightbox" x-bind:class="open ? 'block' : 'hidden'">
        <button @click="open = false" class="absolute" style="right: 24px; top: 12px">Close</button>
        <img :src="imgModalSrc" class="py-12 px-8 max-w-screen-xl mx-auto"/>
    </div>
    <script>
        document.querySelectorAll('a > img').forEach((elem) => {
            elem.setAttribute("x-on:click", "open = !open");
            elem.addEventListener('click', e => {
                e.preventDefault();
                document
                    .body
                    ._x_dataStack[0]
                    .imgModalSrc = elem.src
            });
        });
    </script>
</body></html>