---
layout: 'layouts/page.njk'
sidebar: true
---
<h2>Musculoskeletal Special Interest Group</h2>

<span class="block font-bold">{{ start | date }}</span>
<span class="block font-bold">{{ end | date }}</span>

{{ content | safe }}