---
layout: 'layouts/page.njk'
sidebar: true

minutes: Not yet published
---

{% set startDate = start | dateFormat('dd LLLL yyyy') %}
{% set endDate = end | dateFormat('dd LLLL yyyy') %}
{% set duration = start | duration(end) %}

<span class="font-bold">{{ start | dateFormat('dd LLLL yyyy HH:mm') }}</span>
{% if startDate == endDate %}
    — <span class="font-bold">{{ end | dateFormat('HH:mm') }}</span>
    ({{ start | duration(end) }})
{% else %}
    — <span class="font-bold">{{ end | dateFormat('dd LLLL yyyy HH:mm') }}</span>
{% endif %}

{% if agenda | length > 0 %}
    <h2>Agenda</h2>
    {{ agenda | markdownify | safe }}
{% endif %}

{% if minutes | length > 0 %}
    <h2>Minutes</h2>
    {{ minutes | markdownify | safe }}
{% endif %}
