---
layout: default
tags: mini-hub
---

{% include 'components/header.njk' %}
{% set hero = {
    title: title,
    subtitle: subtitle
} %}
{% include 'components/hero.njk' %}
{% include 'components/breadcrumb.njk' %}

<main id="main" role="main">
    <div class="max-w-6xl mx-auto px-3">
        <section id="cardList" class="flex flex-wrap">
        {% for item in collections[collectionTag] %}
          <div class="w-full md:w-1/2 p-2">
          {% set card = 
              {
                label: item.data.title, 
                link: item.url, 
                excerpt: item.data.excerpt,
                style: "transparent"
                } %}
          {% include 'components/card.njk' %}
          </div>
        {% endfor %}
        </section>
    </div>
</main>

{% include 'components/footer.njk' %}