---
layout: default
tags: mini-hub
---

{% include 'components/header.njk' %}
{% set hero = {
    title: title,
    subtitle: subtitle
} %}
{% include 'components/hero.njk' %}
{% include 'components/breadcrumb.njk' %}

<main id="main" role="main">
    <div class="max-w-6xl mx-auto px-3">
        <section id="cardList" class="flex flex-wrap">
            {% set items = collections.pages | map("data") | where('categories', category) %}
            {% for item in items %}
                {% if item.title != eleventyNavigation.title %}
                    <div class="w-full md:w-1/2 p-2">
                        {% set card = {
                            label: item.title, 
                            link: item.page.url, 
                            excerpt: item.excerpt,
                            style: "transparent"
                        } %}
                        {% include 'components/card.njk' %}
                    </div>
                {% endif %}
            {% endfor %}
        </section>
    </div>
</main>

{% include 'components/footer.njk' %}