---
layout: default
sidebar: true
---
{% include 'components/header.njk' %}
{% include 'components/breadcrumb.njk' %}

<main id="main" class="pb-12">

  <div class="max-w-6xl mx-auto px-3 mt-3 mb-8">
    <div class="prose xl:prose-lg">
      <h1>{{title}}</h1>
    </div>
  </div>

  <div class="max-w-6xl mx-auto px-3 lg:flex">
    <div class="prose lg:prose-lg">
        
    {% if subtitle %}
    <p class="prose-lg xl:prose-xl pb-5">{{subtitle}}</p>
    {% endif %}


  {% for item in collections.futureEvents | reverse %}
      {% if item.data.eleventyNavigation.parent in tags %}
      
      {% if loop.first %}
      <!-- items -->
      <h2>Group Meetings</h2>
      {% endif %}

      <a href="{{item.url | url}}" class="bg-white my-2 flex items-center text-base">
      <span class="bg-blue text-white p-3 flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>
        {{ item.data.start | dateFormat('dd LLL yyyy') }}
      </span>
      <div class="px-3 py-1 flex flex-col">
      <span>{{ item.data.title }}</span>
      <span class="text-sm text-grey-1">{{item.data.start | duration(item.data.end) }}</span>
      </div>
      </a>
      {% endif %}
  {% endfor %}

  {% for item in collections.event | reverse %}
      {% if item.data.eleventyNavigation.parent in tags %}
      
      {% if loop.first %}
      <h4>Past Meetings</h4>
      {% endif %}

      <a href="{{item.url | url}}" class="bg-white my-2 flex items-center text-base">
      <span class="text-black p-3 flex">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" /></svg>
        {{ item.data.start | dateFormat('dd LLL yyyy') }}
      </span>
      <div class="px-3 py-1 flex flex-col">
      <span>{{ item.data.title }}</span>
      </div>
      </a>
      {% endif %}
  {% endfor %}


    {% if members %}
    <h2>Group Membership</h2>

      {% set striper = cycler('bg-white', 'bg-white', 'bg-grey-4', 'bg-grey-4') %}
      
      <div class="flex flex-row flex-wrap">
        {% for item in members %}
          <div class="w-1/2 px-3 py-2 {{striper.next()}}">
          {{ item.name }}{% if item.role %} <span class="text-sm"> ({{item.role}})</span>  {%endif%}
          </div>

        {% endfor %}
      </div>
    
    {% endif %}




    {% for item in collections.protocols %}
      {% if item.data.eleventyNavigation.parent in tags %}
      
      {% if loop.first %}
      <!-- Protocols -->
      <h2>Protocols</h2>
      {% endif %}

      <a href="{{item.url}}" class="block bg-white px-3 py-1 my-1">
      {{ item.data.start }}
      {{ item.data.title }}
      </a>
      {% endif %}
    {% endfor %}

    {% for item in collections.reporting-standards %}
      {% if item.data.eleventyNavigation.parent in tags %}
      
      {% if loop.first %}
      <!-- Reporting Standards -->
      <h2>Reporting Standards</h2>
      {% endif %}

      <a href="{{item.url}}" class="block bg-white px-3 py-1 my-1">
      {{ item.data.start }}
      {{ item.data.title }}
      </a>
      {% endif %}
    {% endfor %}

    {% for item in collections.advice %}
      {% if item.data.eleventyNavigation.parent in tags %}
      
      {% if loop.first %}
      <!-- Advice -->
      <h2>Advice</h2>
      {% endif %}

      <a href="{{item.url}}" class="block bg-white px-3 py-1 my-1">
      {{ item.data.start }}
      {{ item.data.title }}
      </a>
      {% endif %}
    {% endfor %}

    </div>

    {% if sidebar %}
    {% block sidebar %}
    <aside id="sideBar" class="lg:pl-8 mt-8 lg:mt-0" >
    {% include 'components/next-meeting.njk'%}
    {% include 'components/participate.njk'%}
    </aside>
    {% endblock %}
    {% endif %}

  </div>
</main>

{% include 'components/footer.njk' %}