---
layout: default
sidebar: true
---
{% include 'components/header.njk' %}
{% include 'components/breadcrumb.njk' %}

<main id="main">

  <div class="max-w-6xl mx-auto px-3 mt-3 mb-8">
    <div class="prose xl:prose-lg">
      <h1>{{title}}</h1>
    </div>
  </div>

  <div class="max-w-6xl mx-auto px-3 lg:flex">
    <div class="prose lg:prose-lg">
        
    {% if subtitle %}
    <p class="prose-lg xl:prose-xl pb-5">{{subtitle}}</p>
    {% endif %}

    <h2>Group Membership</h2>

    <h2>Group Meetings</h2>
    {% for meeting in collections.event %}
      {% if meeting.data.eleventyNavigation.parent in tags %}
      <a href="{{meeting.url}}" class="block bg-white px-3 py-1 my-1">
      {{ meeting.data.start }}
      {{ meeting.data.title }}
      </a>
      {% endif %}
    {% endfor %}

    <h2>Protocols</h2>

    <h2>Reporting Standards</h2>

    <h2>Advice Documents</h2>

    </div>

    {% if sidebar %}
    {% block sidebar %}
      {% include 'components/sidebar.njk' %}
    {% endblock %}
    {% endif %}

  </div>
</main>

{% include 'components/footer.njk' %}