---
layout: default
sidebar: true
---
{% include 'components/header.njk' %}
{% include 'components/breadcrumb.njk' %}

<main id="main">

  <div class="max-w-6xl mx-auto px-3 mt-3 mb-8">
    <div class="prose xl:prose-lg">
      <h1>{{title}}</h1>
    </div>
  </div>

  <div class="max-w-6xl mx-auto px-3 lg:flex">
    <div class="prose lg:prose-lg">
        
    {% if subtitle %}
    <p class="prose-lg xl:prose-xl pb-5">{{subtitle}}</p>
    {% endif %}

    {% if members %}
    <h2>Group Membership</h2>
    <ul class="list">
      {% for item in members %}
      <li>
      {{item.name}}{% if item.role%} - {{item.role}} {%endif%}
      </li>
      {% endfor %}
    </ul>
    {% endif %}

    {% for item in collections.event %}
      {% if item.data.eleventyNavigation.parent in tags %}
      
      {% if loop.first %}
      <!-- items -->
      <h2>Group Meetings</h2>
      {% endif %}

      <a href="{{item.url | url}}" class="block bg-white px-3 py-1 my-1">
      {{ item.data.start }}
      {{ item.data.title }}
      </a>
      {% endif %}
    {% endfor %}

    {% for item in collections.protocols %}
      {% if item.data.eleventyNavigation.parent in tags %}
      
      {% if loop.first %}
      <!-- Protocols -->
      <h2>Protocols</h2>
      {% endif %}

      <a href="{{item.url}}" class="block bg-white px-3 py-1 my-1">
      {{ item.data.start }}
      {{ item.data.title }}
      </a>
      {% endif %}
    {% endfor %}

    {% for item in collections.reporting-standards %}
      {% if item.data.eleventyNavigation.parent in tags %}
      
      {% if loop.first %}
      <!-- Reporting Standards -->
      <h2>Reporting Standards</h2>
      {% endif %}

      <a href="{{item.url}}" class="block bg-white px-3 py-1 my-1">
      {{ item.data.start }}
      {{ item.data.title }}
      </a>
      {% endif %}
    {% endfor %}

    {% for item in collections.advice %}
      {% if item.data.eleventyNavigation.parent in tags %}
      
      {% if loop.first %}
      <!-- Advice -->
      <h2>Advice</h2>
      {% endif %}

      <a href="{{item.url}}" class="block bg-white px-3 py-1 my-1">
      {{ item.data.start }}
      {{ item.data.title }}
      </a>
      {% endif %}
    {% endfor %}

    </div>

    {% if sidebar %}
    {% block sidebar %}
      {% include 'components/sidebar.njk' %}
    {% endblock %}
    {% endif %}

  </div>
</main>

{% include 'components/footer.njk' %}