---
layout: default
title: View Record
excerpt: Combined tech and transformation programme delivering total radiology interoperability across Yorkshire, the Humber and North Lincolnshire
date: 2020-04-30

eleventyNavigation:
  title: Homepage
  key: Home
  order: 0
---

{% include 'components/header.njk' %} {% set hero = { title: title, subtitle:
subtitle } %} {% include 'components/hero.njk' %}

<style>
  .spinner,
  .spinner:after {
    position: relative;
    box-sizing: border-box;
  }

  .spinner {
    width: 64px;
    height: 64px;
    display: block;
    color: #005eb8;
    margin: 0 auto;
  }

  .spinner::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 6px solid currentColor;
    border-bottom-color: transparent;
    border-radius: 100%;
    background: transparent;

    animation: ball-clip-rotate 0.75s linear infinite;
  }

  @keyframes ball-clip-rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<main id="main">
  <div class="flex justify-center">
    <span id="loader" class="spinner" aria-label="loading PDF"></span>
    <!-- <iframe id="iframe"></iframe> -->
    <a id="viewer" href="#" class="bg-blue text-white px-4 py-2 hidden"
      >View PDF</a
    >
  </div>
</main>

<script src="/pdfkit.js"></script>
<script src="/blob-stream.js"></script>
<script>
  const urlParams = new URLSearchParams(window.location.search);
  const record = urlParams.get("id");

  if (record) {
    const fetchData = async () => {
      try {
        const res = await fetch(
          `https://eotpupm0t7uray9.m.pipedream.net?id=${record}`,
          {
            headers: {
              "Content-Type": "application/json",
            },
            "Access-Control-Allow-Origin": "*",
            method: "GET",
            mode: "cors",
          }
        );

        if (res.ok) {
          const data = await res.json();
          return data;
        } else {
          console.log("NOT OK");
        }
      } catch (error) {
        console.log("THERE WAS AN ERROR", error);
      }
    };

    const generatePDF = async () => {
      const logo = await fetch("/images/nhs-logo.png").then((response) => {
        return response.arrayBuffer();
      });

      const fontURLs = [
        "https://assets.nhs.uk/fonts/FrutigerLTW01-45Light.ttf",
        "https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.ttf",
        "https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.ttf",
      ];

      const fonts = await Promise.all(
        fontURLs.map(async (url) => {
          try {
            const res = await fetch(url);
            return res.arrayBuffer();
          } catch (error) {
            console.warn("Issue fetching font from NHS assets");
          }
        })
      );

      const data = await fetchData();

      const skills = [
        {
          name: "Plain Film: Chest",
          active: false,
        },
        {
          name: "Plain Film: Abdominal",
          active: false,
        },
        {
          name: "Plain Film: MSK",
          active: false,
        },
        {
          name: "Plain Film: Paediatric",
          active: false,
        },
        {
          name: "CT: Body",
          active: false,
        },
        {
          name: "CT: Chest",
          active: false,
        },
        {
          name: "CT: Neuro, Head & Neck",
          active: false,
        },
        {
          name: "CT: Cardiac",
          active: false,
        },
        {
          name: "CT: Vascular",
          active: false,
        },
        {
          name: "CT: MSK",
          active: false,
        },
        {
          name: "CT: Paediatric",
          active: false,
        },
        {
          name: "CT: Breast",
          active: false,
        },
        {
          name: "MRI: Body",
          active: false,
        },
        {
          name: "MRI: Cardiac",
          active: false,
        },
        {
          name: "MRI: Vascular",
          active: false,
        },
        {
          name: "MRI: MSK",
          active: false,
        },
        {
          name: "MRI: Paediatric",
          active: false,
        },
        {
          name: "MRI: Breast",
          active: false,
        },
        {
          name: "Misc: Nuclear Medicine",
          active: false,
        },
        {
          name: "Misc: Breast",
          active: false,
        },
        {
          name: "Misc: DEXA",
          active: false,
        },
      ];

      if (data["Skillset"]) {
        skills.forEach((skill) => {
          data["Skillset"].find((_skill) => _skill === skill.name) &&
            (skill.active = true);
        });
      }

      const doc = new PDFDocument();
      const stream = doc.pipe(blobStream());

      doc.registerFont("Frutiger", fonts[1]);
      doc.registerFont("Frutiger-Bold", fonts[2]);

      doc.rect(0, 0, 2480, 64).fill("#005eb8");
      doc.rect(0, 728, 2480, 64).fill("#005eb8");

      if (logo?.byteLength > 0) {
        doc.image(await logo, 16, 16, {
          width: 64,
        });
      }

      doc
        .font("Frutiger-Bold")
        .fillColor("#ffffff")
        .fontSize(18)
        .text("Yorkshire Imaging Collaborative", 100, 19);

      doc
        .fontSize(22)
        .fillColor("#212b32")
        .text(data["FullName"].trim(), 24, 90);

      doc.moveDown(0.5);

      doc
        .fontSize(14)
        .text(data["Occupations"].join(", "), { continued: true })
        .text(` — ${data["RegistrationBody"]}`)
        .moveDown(0.2);

      doc.fontSize(12).font("Frutiger").text(data["Email"]);
      doc.moveDown(1.5);

      doc.fontSize(14);
      doc.font("Frutiger-Bold").text("Skills", { continued: true, width: 260 });
      doc.text("YES", { continued: true, align: "right" }).text("NO", 100);
      doc.font("Frutiger");
      doc.moveDown(0.5);

      skills.forEach((skill, i) => {
        doc
          .font("Frutiger")
          .fontSize(13)
          .text(skill.name, { continued: true, width: 240 });

        if (skill.name.split(":")[0] !== skills[i + 1]?.name.split(":")[0]) {
          doc.moveDown(0.5);
        } else {
          doc.moveDown(0.4);
        }

        doc.font("ZapfDingbats").text(skill.active ? "4" : "", {
          align: "right",
          width: 40,
        });
        doc.text(!skill.active ? "5" : "", {
          align: "right",
          width: 320,
        });
      });

      // END
      doc.end();

      stream.on("finish", () => {
        const url = stream.toBlobURL("application/pdf");

        document.querySelector("#loader").style.display = "none";

        const pdfViewer = document.querySelector("#viewer");

        pdfViewer.href = url;
        pdfViewer.classList.remove("hidden");
      });
    };

    generatePDF();
  }
</script>
